{
  "Supabase": {
    "Url": "https://ynfjuqqkrqgimttpgumx.supabase.co",
    "AnonKey": "sb_publishable_9oCehcE94-agTcP3DPz9dw_kKe_OCYd"
  },
  "Store": {
    "StoreId": "a0000000-0000-0000-0000-000000000001"
  }
}
